layout {
    tab name="helix" {
        pane split_direction="horizontal" {
            pane {
                name "main"
                command "sh"
                args "-c" "zsh"
                start_suspended false
                size "85%"
            }
            pane {
                name "aux"
                command "sh"
                args "-c" "zsh"
                start_suspended false
                size "15%"
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar";
        }
    }
    tab name="one" {
        pane {
            name "shell"
            command "sh"
            args "-c" "zsh"
            start_suspended false
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar";
        }
    }
    tab name="split" {
        pane split_direction="vertical" {
            pane {
                name "yazi"
                command "yazi"
                args "."
                start_suspended false
                size "40%"
            }
            pane {
            name "k9s"
                command "sh"
                args "-c" "k9s"
                start_suspended false
                size "60%"
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar";
        }
    }
}
